/* CSS Document */

html {
    min-height: 100%;
 }
 
 body {
     height: 100%;
     margin: 0;
     padding: 0;
     background:linear-gradient(to bottom right, #ffdfdf, #ffafaf);
 }
 
 .container {
     margin: 7% auto;
     font-family:"Georgia", "Verdana";
     background: linear-gradient(to bottom left, #d8dcff, #99a3ff);
 }

 h4 {
    font-family: "Didot";
 }
 
 .img-fluid {
   max-width: auto;
   height: auto;
 }

 .embed-responsive-1242by2688 {
     padding-bottom: 216.42%;
 }
 
 .link { 
    color: #5d4bff; 
    font-family: "Verdana";
} /* CSS link color (red) */
 .link:hover { color: #a10000; } /* CSS link hover (green) */

 img {
     margin: auto;
     display: block;
 }
 
 p {
     font-size: 16px;
     font-family: "Georgia", "Verdana", "serif";
 }
 
 ul {
     list-style-type: none;
     
 }
 
 h1 {
     padding-bottom: 6px;
     font-family : "Didot"
 }
 
 h5 {
     padding-bottom: 16px;
 }
 
 li {
     padding-top: 40px;
     padding-bottom: 40px;
     padding-left: 20px;
     padding-right: 20px;
     
     text-align: left;
     display: inline-block;
     font-family:"Didot", "Georgia", "Verdana", "serif";
     font-size: 14px;
 }
 
 a {
     color:rgb(112, 94, 94);
 }
 
 
 