/* CSS Document */

html {
    height: 100%;
 }
 
 body {
     height: 100%;
     margin: 0;
     padding: 0;
     background-color:  #ffdfdf;
 }
 
 .container {
     margin: 7% auto;
     font-family:"Georgia", "Verdana";
     background: linear-gradient(45deg, #d8dcff, #b0b8ff);
 }

 h4 {
    font-family: "Didot";
 }
 
 .img-fluid {
   max-width: auto;
   height: auto;
 }

 .embed-responsive-1242by2688 {
     padding-bottom: 216.42%;
 }
 
 img {
     margin: auto;
     display: block;
 }
 
 p {
     font-size: 15px;
     font-family: "Georgia", "Verdana", "serif";
 }
 
 ul {
     list-style-type: none;
     
 }
 
 h1 {
     padding-bottom: 6px;
     font-family : "Didot"
 }
 
 h5 {
     padding-bottom: 16px;
 }
 
 li {
     padding-top: 40px;
     padding-bottom: 40px;
     padding-left: 20px;
     padding-right: 20px;
     
     text-align: left;
     display: inline-block;
     font-family:"Didot", "Georgia", "Verdana", "serif";
     font-size: 17px;
 }
 
 a {
     color:rgb(112, 94, 94);
 }
 
 
 